.global {
  // padding: 1rem;
  background-color: #2a9d8f;
  height: 100vh;

  ul {
    padding: 0;
    list-style: none;
  }
  li {
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
  }
}
h2 {
  margin: 0;
  padding: 1rem;
  color: #f0f0f0;
}
.active {
  background-color: #e9c46a;
  color: #f0f0f0;
}
