<div class="region">
  <h2 class="region__h2">Por region</h2>

  <div class="region__container">
    <div class="region__subcontainer">
      <!-- SearchBox -->
      <button
        *ngFor="let r of regions"
        class="region__btns"
        [ngClass]="{ region__activate: selectedRegion === r }"
        (click)="searchByRegion(r)"
      >
        {{ r }}
      </button>
    </div>
  </div>
  <div class="region__container">
    <div class="region__subcontainer">
      <!-- Tabla de resultados -->
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
