<div class="country">
  <h2 class="country__h2">Por país</h2>

  <div class="country__container">
    <div class="country__subcontainer">
      <!-- SearchBox -->
      <app-search-box
        (onDebounce)="searchByCountry($event)"
        [initialValue]="initialValue"
        placeHolder="Buscar por país"
      ></app-search-box>
    </div>
  </div>
  <div class="country__container">
    <div class="country__subcontainer">
      <!-- Tabla de resultados -->
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
