<div *ngIf="capitals.length === 0; else table" class="warning">
  No hay capitales!
</div>
<ng-template #table>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Bandera</th>
        <th>Capital</th>
        <th>Nombre</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let capital of capitals; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ capital.flag }}</td>
        <td>
          <img
            [src]="capital.flags.svg"
            [alt]="capital.name.common"
            class="table__img"
          />
        </td>
        <td>{{ capital.capital }}</td>
        <td>{{ capital.name.common }}</td>
        <td>{{ capital.population }}</td>
        <td>
          <a href="#">Ver más</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
