<div class="capital">
  <h2 class="capital__h2">Por capital</h2>

  <div class="capital__container">
    <div class="capital__subcontainer">
      <!-- SearchBox -->
      <app-search-box
        (onValue)="searchByCapital($event)"
        placeHolder="Buscar por capital"
      ></app-search-box>
    </div>
  </div>
  <div class="capital__container">
    <div class="capital__subcontainer">
      <!-- Tabla de resultados -->
      <ul>
        <li *ngFor="let country of countries">
          {{ country.capital }} - {{ country.population }}
        </li>
      </ul>
    </div>
  </div>
</div>
