.capital {
  background-color: #264653;
  //   padding: 1rem;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &__h2 {
    margin: 0;
    padding: 1rem;
    color: #f0f0f0;
  }
  &__container {
    padding: 1rem;
  }
  &__subcontainer {
  }
}
